---
import { queHacemosData } from "../../data/queHacemos.ts";
import HacemosItem from "./HacemosItem";
---

<div class="grid grid-cols-1 md:grid-cols-4 gap-6">
  {queHacemosData.map((data) => <HacemosItem client:visible data={data} />)}
</div>
