@import "tailwindcss";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #174a6d;
  --color-primary-50: #f0f6fa;
  --color-primary-100: #e0ecf3;
  --color-primary-200: #bad6e8;
  --color-primary-500: #2d7da6;
  --color-primary-700: #123b57;
  --color-primary-900: #0b2435;

  --color-secondary: #f4b620;
  --color-secondary-50: #fefce8;
  --color-secondary-100: #fef5d0;
  --color-secondary-400: #facd55;
  --color-secondary-600: #d99a0e;
  --color-secondary-900: #714a04;

  --color-Light: #f8fafc;
  --color-Light2: #f1f5f9;
  --color-Dark: #1e293b;
  --color-Dark2: #0f172a;
}
@layer utilities {
  .text-shadow-sm {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }
}
