---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero";
import Section from "../components/Section";
import Form from "../components/Form";
import Hacemos from "../components/que-hacemos/Hacemos.astro";
import ProcesoHumano from "../components/que-hacemos/ProcesoHumano";
import video from "../assets/videos/conocenos.mp4";
---

<Layout
  title="Qué Hacemos - E2TRATEGIAS PATRIMONIALES"
  description="Conoce nuestros servicios y soluciones"
>
  <Hero
    client:load
    title="Qué Hacemos"
    subtitle="Soluciones financieras con propósito"
    videoSrc={video}
  />

  <ProcesoHumano client:visible />

  <Section
    client:load
    title="Te ayudamos con cualquiera de tus necesidades"
    background="dark"
  >
    <div class="mx-auto space-y-8">
      <Hacemos />
    </div>
  </Section>
  <Form client:visible />
</Layout>
