---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero";
import Section from "../components/Section";
import Form from "../components/Form";
import Hacemos from "../components/que-hacemos/Hacemos.astro";
import ProcesoHumano from "../components/que-hacemos/ProcesoHumano";
import video from "../assets/videos/conocenos.mp4";
---

<Layout
  title="Qué Hacemos - E2TRATEGIAS PATRIMONIALES"
  description="Conoce nuestros servicios y soluciones"
>
  <Hero
    client:load
    title="Qué Hacemos"
    subtitle="Ponemos tu vida en marcha"
    videoSrc={video}
  />

  <ProcesoHumano client:visible />

  <Section
    ifBg={true}
    bgImage="https://images.unsplash.com/photo-1518531933037-91b2f5f229cc?q=80&w=2127&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    client:load
    title="Te ayudamos con cualquiera de tus necesidades"
    background="dark"
  >
    <div class="mx-auto space-y-8">
      <Hacemos />
    </div>
  </Section>
  <Form client:visible />
</Layout>
